@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=Spartan:wght@400;700&display=swap');

$lightGray: hsl(240, 6%, 54%);
$gray: hsl(240, 17%, 26%);
$darkGray: hsl(240, 67%, 8%);
$white: hsl(0, 0%, 100%);

@mixin h1 {
    font-family: "Antonio";
    font-size: 80px;
    line-height: 103px;
}

@mixin h2 {
    font-family: "Antonio";
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -1.5px;
}

@mixin h3 {
    font-family: "Spartan";
    font-weight: 700;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 2.6px;
}

@mixin h4 {
    font-family: "Spartan";
    font-weight: 700;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 1px;
}

@mixin body {
    font-family: "Spartan";
    font-size: 14px;
    line-height: 25px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
    max-width: 100vw;
    min-height: 100vh;
    background-color: $darkGray;
    background-image: url(./images/background-stars.svg);
}

nav {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    color: $white;
    text-transform: uppercase;
    border-bottom: 1px solid hsla(0,0%,100%,0.2);
    h1 {
        font-family: "Antonio";
        font-size: clamp(0.5rem, 2.5vw, 2.5rem);
        line-height: 36.26px;
        letter-spacing: -1.05px;
        cursor: pointer;
    }
    .nav-items {
        @include h4;
        width: 60vw;
        margin-left: auto;
        padding: 0 1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: clamp(0.3rem, 1vw, 0.8rem);
        cursor: pointer;
        h2 {
            padding: 0.5rem 0.8rem;
        }
        h2:hover {
            transition: 0.15s ease all;
            border-radius: 25px;
            background-color: $lightGray;
        }
    }
}

main {
    display: flex;
    h1 {
        @include h1;
        color: $white;
    }
    p {
        color: $lightGray;
    }
    .planet-image {
        width: 65vw;
        display: flex;
        justify-content: center;
        align-items: center;
        .image-container {
            position: relative;
            .image-geology {
                margin: auto;
                position: absolute;
                top: 0; left: 0; right: 0; bottom: -25rem;
                max-width: 12rem;
            }
        }
    }
    .planet-info {
        width: 35vw;
        .planet-title {
            margin-bottom: 23px;
            text-transform: uppercase;
        }
        .planet-content {
            @include body;
            width: 350px;
            height: 150px;
        }
        .planet-link {
            margin: 1.5rem 0 39px;
            span {
                color: $gray;
            }
            a {
                color: $lightGray;
                text-decoration: none;
            }
        }
    }
}

.button {
    @include h3;
    width: 350px;
    height: 48px;
    margin-bottom: 1rem;
    padding: 50px;
    display: flex;
    align-items: center;
    color: $white;
    background-color: hsla(0, 0%, 0%, 0%);
    border: 1px solid $gray;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.25s ease;
    span {
        margin-right: 28px;
        background-color: hsla(0, 0%, 0%, 0%);
    }
    &:hover {
        background-color: $gray;
    }
}

.button-active {
    @include h3;
    width: 350px;
    height: 48px;
    margin-bottom: 1rem;
    padding: 50px;
    display: flex;
    align-items: center;
    color: $white;
    border: 1px solid $gray;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.5s ease;
    span {
        margin-right: 28px;
        background-color: hsla(0, 0%, 0%, 0%);
    }
}

footer {
    margin-top: 87px;
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
    .planet-details {
        width: 240px;
        height: 128px;
        margin-bottom: 56px;
        padding: 20px;
        border: 1px solid $gray;
        h3 {
            @include h4;
            margin-bottom: 4px;
            color: $lightGray;
        }
        p {
            font-family: "Antonio";
            font-size: 40px;
            color: $white;
            line-height: 51.76px;
            letter-spacing: -1.5px;
        }
    }
}

.mobileApp {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1 {
        color: white;
        font-size: 1.5rem;
    }
    .mobileApp-Stores {
        display: flex;
        .apple {
            max-height: 70px;
            margin-top: 15px;
        }
        .google {
            max-height: 100px;
        }
    }
}