@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=Spartan:wght@400;700&display=swap');

$lightGray: hsl(240, 6%, 54%);
$gray: hsl(240, 17%, 26%);
$darkGray: hsl(240, 67%, 8%);
$lightBlue: hsl(194, 48%, 49%);
$blue: hsl(222, 87%, 56%);
$lightOrange: hsl(17, 73%, 46%);
$orange: hsl(10, 63%, 51%);
$darkOrange: hsl(2, 68%, 53%);
$yellow: hsl(33, 82%, 61%);
$purple: hsl(263, 67%, 51%);
$teal: hsl(169, 73%, 44%);
$white: hsl(0, 0%, 100%);

@mixin h1 {
    font-family: "Antonio";
    font-size: 80px;
    line-height: 103px;
}

@mixin h2 {
    font-family: "Antonio";
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -1.5px;
}

@mixin h3 {
    font-family: "Spartan";
    font-weight: 700;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 2.6px;
}

@mixin h4 {
    font-family: "Spartan";
    font-weight: 700;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 1px;
}

@mixin body {
    font-family: "Spartan";
    font-size: 14px;
    line-height: 25px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
    min-width: 100vw;
    min-height: 100vh;
    background-color: $darkGray;
    background-image: url(./images/background-stars.svg);
}

nav {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    color: $white;
    text-transform: uppercase;
    border-bottom: 1px solid hsla(0,0%,100%,0.2);
    h1 {
        font-family: "Antonio";
        font-size: 28px;
        line-height: 36.26px;
        letter-spacing: -1.05px;
    }
    .nav-items {
        @include h4;
        width: 50vw;
        display: flex;
        justify-content: space-around
    }
}

main {
    display: flex;
    h1 {
        @include h1;
        color: $white;
    }
    p {
        color: $lightGray;
    }
    .planet-image {
        width: 65vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .planet-info {
        width: 35vw;
        .planet-title {
            margin-bottom: 23px;
            text-transform: uppercase;
        }
        .planet-content {
            @include body;
            width: 350px;
            height: 150px;
        }
        .planet-link {
            margin: 1.5rem 0 39px;
            span {
                color: $gray;
            }
            a {
                color: $lightGray;
                text-decoration: none;
            }
        }
    }
}

.button {
    @include h3;
    width: 350px;
    height: 48px;
    margin-bottom: 1rem;
    padding: 50px;
    display: flex;
    align-items: center;
    color: $white;
    background-color: hsla(0, 0%, 0%, 0%);
    border: 1px solid $gray;
    text-transform: uppercase;
    span {
        margin-right: 28px;
        color: $lightGray;
        background-color: hsla(0, 0%, 0%, 0%);
    }
    &:active {
        background-color: $lightBlue;
    }
    &:hover {
        background-color: $gray;
    }
}

footer {
    margin-top: 87px;
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
    .planet-details {
        width: 255px;
        height: 128px;
        margin-bottom: 56px;
        padding: 20px;
        border: 1px solid $gray;
        h3 {
            @include h4;
            margin-bottom: 4px;
            color: $lightGray;
        }
        p {
            font-family: "Antonio";
            font-size: 40px;
            color: $white;
            line-height: 51.76px;
            letter-spacing: -1.5px;
        }
    }
}